<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>se.stdin.quicksilver.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>QSActions</key>
	<dict>
		<key>QSiTerm2ExecuteText</key>
		<dict>
			<key>actionClass</key>
			<string>QSiTerm2ActionProvider</string>
			<key>actionSelector</key>
			<string>executeText:</string>
			<key>directTypes</key>
			<array>
				<string>qs.shellcommand</string>
				<string>NSStringPboardType</string>
			</array>
			<key>icon</key>
			<string>com.googlecode.iterm2</string>
			<key>name</key>
			<string>Run a Text Command in iTerm</string>
		</dict>
		<key>QSiTerm2ExecuteScript</key>
		<dict>
			<key>actionClass</key>
			<string>QSiTerm2ActionProvider</string>
			<key>actionSelector</key>
			<string>executeScript:withArguments:</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>directFileTypes</key>
			<array>
				<string>sh</string>
				<string>pl</string>
				<string>command</string>
				<string>php</string>
				<string>pl</string>
				<string>py</string>
				<string>rb</string>
				<string></string>
			</array>
			<key>icon</key>
			<string>com.googlecode.iterm2</string>
			<key>indirectOptional</key>
			<true/>
			<key>name</key>
			<string>Run in iTerm [...]</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSiTerm2OpenDir</key>
		<dict>
			<key>actionClass</key>
			<string>QSiTerm2ActionProvider</string>
			<key>actionSelector</key>
			<string>openDir:</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>icon</key>
			<string>com.googlecode.iterm2</string>
			<key>name</key>
			<string>Open Directory in iTerm</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSiTerm2OpenParent</key>
		<dict>
			<key>actionClass</key>
			<string>QSiTerm2ActionProvider</string>
			<key>actionSelector</key>
			<string>openParent:</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>icon</key>
			<string>com.googlecode.iterm2</string>
			<key>name</key>
			<string>Open Parent Directory in iTerm</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Andreas Johansson</string>
		<key>categories</key>
		<array>
			<string>System</string>
			<string>Applications</string>
			<string>Development</string>
		</array>
		<key>description</key>
		<string>Provider for using iTerm2 with the Terminal plugin</string>
		<key>extendedDescription</key>
		<string>&lt;h2 id=&quot;quicksilver-iterm2-plugin&quot;&gt;Quicksilver iTerm2 plugin&lt;/h2&gt;
&lt;p&gt;This plugin provides functionality for having commands from the &lt;a href=&quot;http://github.com/quicksilver/Terminal-qsplugin&quot;&gt;Terminal plugin&lt;/a&gt; work in &lt;a href=&quot;http://www.iterm2.com/&quot;&gt;iTerm2&lt;/a&gt;. It does so by registering iTerm2 as a Command line interface.&lt;/p&gt;
&lt;p&gt;When the iTerm2 plugin is installed, iTerm2 becomes available as a choice under Command Line Interface in the Handlers section of the Quicksilver preferences.&lt;/p&gt;
&lt;p&gt;In addition, this plugin provides iTerm2-specific functionality.&lt;/p&gt;
&lt;p&gt;This plugin contains adapted code from the &lt;a href=&quot;http://github.com/quicksilver/Terminal-qsplugin&quot;&gt;Terminal plugin&lt;/a&gt;.&lt;/p&gt;
&lt;h3 id=&quot;actions&quot;&gt;Actions&lt;/h3&gt;
&lt;p&gt;This plugin supplies the following actions:&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;p&gt;Run a Text Command in iTerm - Runs a text command entered in Quicksilver&apos;s text mode in iTerm&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Run in iTerm [...] - Runs the selected shell script/binary in iTerm.&lt;/p&gt;
&lt;p&gt;The target either has to be an executable or a shell script with a #! declaration.&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Open Parent Directory in iTerm - Opens the selected directory&apos;s parent in iTerm.&lt;/p&gt;
&lt;p&gt;This action is only provided for targets that are neither directories nor runnables (Terminal plugin compatibility).&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Open Directory in iTerm - Opens the selected directory in iTerm.&lt;/p&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;When configured as the Command Line Interface for Quicksilver, this plugin also supports the following actions:&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;Run a Text Command in Terminal - Runs a text command entered in Quicksilver&apos;s text mode in the terminal.&lt;/li&gt;
&lt;li&gt;Run in Terminal [...] - Runs the selected shell script/binary in the terminal.&lt;/li&gt;
&lt;li&gt;Open Parent Directory in Terminal - Opens the selected directory&apos;s parent in the terminal.&lt;/li&gt;
&lt;li&gt;Open Directory in Terminal - Opens the selected directory in the terminal.&lt;/li&gt;
&lt;/ul&gt;</string>
		<key>icon</key>
		<string>com.googlecode.iterm2</string>
		<key>relatedBundles</key>
		<array>
			<string>com.googlecode.iterm2</string>
		</array>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSiTerm2ActionProvider</key>
			<string>QSiTerm2ActionProvider</string>
		</dict>
		<key>QSTerminalMediators</key>
		<dict>
			<key>com.googlecode.iterm2</key>
			<string>QSiTerm2TerminalMediator</string>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>bundles</key>
		<array>
			<dict>
				<key>id</key>
				<string>com.googlecode.iterm2</string>
				<key>name</key>
				<string>iTerm</string>
			</dict>
		</array>
		<key>plugins</key>
		<array>
			<dict>
				<key>id</key>
				<string>com.blacktree.Quicksilver.QSTerminalPlugIn</string>
				<key>name</key>
				<string>Terminal Module</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
